COMPOSE="docker compose"
PROJECT_PREFIX="metricsnet"

TAILSCALE_HOSTNAME="MetricsNET-Server"

MINIO_DATA_DIR="./minio-data"
MINIO_ROOT_USER="root"
MINIO_ROOT_PASSWORD="password"
MINIO_LISTEN_HOST="localhost:9000"
MINIO_LISTEN_TAILSCALE="9000"
MINIO_CONSOLE_LISTEN_HOST="localhost:9001"
MINIO_CONSOLE_LISTEN_TAILSCALE="9001"

BUCKET_SYNCED_CONFIG="dynamic-config"
BUCKET_EXTRA_STORE_LIST=""

QUERY_LISTEN_HOST="localhost:10902"
QUERY_LISTEN_TAILSCALE="10902"
